.languageSelect{
    position:absolute;
    top:2rem;
    right:2%;
    z-index:9999;
    appearance:none;
    padding:1rem 3rem;
    background:transparent;
    color:#ffffff;
}
.head{
    position:fixed;
    top:0;
    width:100%;
    text-align: center;
    color: #fff;
    background-image:url('../../assets/image/bg1.gif');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;    
    transform-origin:center;
    z-index:2;
}
.head h1:nth-of-type(1){
    position:absolute;
    width:100%;
    top:20%;
    font-size:8rem;
}
.head h2:nth-of-type(1){
    position:absolute;
    width:100%;
    top:40%;
    font-size:3rem;
}
.head p:nth-of-type(1){
    position:absolute;
    width:100%;
    top:45%;
    font-size:1.8rem;
}
.head p:nth-of-type(2){
    position:absolute;
    width:100%;
    bottom:20%;
}
.head button{
    position:relative;
    background-color: transparent;
    border:2px solid #ffffff;
    color: #ffffff;
    padding:1rem 2rem;
    cursor:pointer;
    transition: all 1s 0.1s ease-in-out;
    
}
.head button::after{
    content:"";
    width:0%;
    transition: all 1s 0.1s ease-in-out;
    overflow: hidden;
}
.head button:hover::after{
    content:"查看规则 >>";

    position:absolute;
    top:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    color:#282828;
    background:linear-gradient(to right,#cccccc,#606060);
    
}

.head button:hover{
    padding:1rem 3rem;
    color:#282828;
    font-weight: bold;
    border:2px solid #3d3d3d;
    background:linear-gradient(to right,#cccccc,#606060);
}
.body{
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
    transform-origin: center;
}
.body>ul>li{
    position:absolute;
    width:100%;
    right:0;
    top:0;
    display:block;
    z-index:1;
    transform-origin: center;
    overflow:hidden;
    display:none;
}

.dot{
    position:fixed;
    display:none;
}
.scr1{
    transform-origin:center;
}
.scr1_sub2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.scr1_sub2>div>ul>li{
    width:80px;
    height:80px;
    border-radius:100px;
    padding:2rem;
    overflow:hidden;
    color:#ffffff;
    font-size:0.8rem;
    background:#84808851;
    text-align:center;
}
.scr1_sub2>div>ul>li>img{
    width:80%;

}
.scr1_sub2>div>ul>li>h1{
    margin-top:1rem;
    text-align:center;
}
.scr1_sub2>div{
    position:absolute;
    top:44%;
}
.scr1_sub2>div>ul{
    position:relative;
}
.scr1_sub2>div>ul>li{
    position:absolute;
    top:0;
    left:0;
}
.scr1_sub2>div:nth-of-type(1){
    left:20px;
}
.scr1_sub2>div:nth-of-type(2){
    right:200px;
}
.scr2{
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.scr2>h1{
    text-align:center;
    font-size:2rem;
    padding:1rem 0;
}
.scr2>h2{
    text-align:center;
    font-size:1.6rem;
    padding:1rem 0;
}
.showcaselist{
    list-style-type: none;
    position:relative;
    display:flex;
    flex-flow:row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width:100%;
    margin-top:2rem;
}
.showcaselist li{
    position:relative;
    width:18%;
    transition:all 1s .5s ease-in-out;
}
.showcaselist li.caseLeft{
    transform:translateX(165%);
}
.showcaselist li.caseRight{
    transform:translateX(-165%);
}
.showcaselist li img{
    width:100%;
}
.showcaseitem>div{
    width:calc(100% - 1.6rem);
    height:auto;
    padding:0.8rem;
    background:#dfdfdf;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.5rem;
    overflow:hidden;
}
.showcaseitem>h2{
    margin:0.8rem 0;
    text-align: center;
}
.showcaseitem>p{
    margin:0.2rem 0;
    font-size:1.3rem;
     text-align: center;
     background:#ececec;
}
.faceswitchlist p{
    border-radius:12px;
    overflow: hidden;
    height:3.5rem;
    border:3px solid transparent;
}
.faceswitchlist .active{
    border:3px solid #ffdc73;
}