*{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color:transparent;
}
:root{
    --main-color:#454545;
    --second-color:#6a6a6a;
    --third-color:#61ff79;
    --fourth-color:#4a90e2;
    --fifth-color:#50e3c2;
    --font-family: 'Roboto', sans-serif;
    --btn-bg-color:#b34363;
    --tarifa-color:#ff366f;
    --light-tarifa:#ffdfe8;
    --container-bg-color:#e5e5e5;
    --disabled-color:#8b8b8b;
    --star-bg-color:#f4c331;
}
html{
    font-size:62.5%;
}
body,html{
    width:100%;
}
body{
    background-color: var(--container-bg-color);
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #282828;
}
::-webkit-scrollbar-thumb {
    background: #fafafa;
    -webkit-border-radius: 5px;
}
.priceTag{
    margin:0.5rem 0;
}
.priceTag sup{
    font-size:1.2rem;
}
.priceTag span.list{
    text-decoration: line-through;
    margin-left:0.4rem;
    color:var(--disabled-color);
}
.priceTag>span:nth-of-type(1){
    font-size:1.2rem;
    vertical-align:super;
}
.priceTag>span:nth-of-type(2){
    margin:0  0 0 0.4rem;
    font-size: 1.8rem;
    font-weight: bold;
}
.oneLineTxt{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;    
}
.twoLineTxt{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp:2;
    overflow: hidden;
}
.back_cover_effect{
    transition:all .2s ease-in-out;
    transform:scale(0.95,0.98);
    transform-origin: center;
    border-radius: 2rem;
    overflow: hidden;
}
/* 去除 number 输入框的增减按钮 */
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield;
  appearance:textfield;
}
@media only screen and (max-width:1024px){
    .nav-disabled .swiper-button-prev,
    .nav-disabled .swiper-button-next {
        display:none;
    }
}